.App {
  text-align: center;
}

.h2 {
  font-size: 50px;
}

.parent {
  border: solid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh;
  border-radius: 1.5%;
  border: solid;
  background-color:#9F9D9D;
}

/* .wrapper { */
  /* background-color:#5A5B64;
  border-radius: 1.5%;
  border: solid;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width:  */
/* } */

.left-form {
 display: grid;
 grid-row-start: 1;
 grid-row-end: 7;
 grid-column-start: 1;
 grid-column-end: 2;
 background-color: #5A5B64;
 text-align: center;
 padding-top: 2vh;
}

/* .pet-form {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 7;
border:solid white 5px; */
/* } */

.child-1 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  border: solid white;
  padding: 0 9vh 0 9vh;
  justify-content: center;
  align-content: center;

}

.child-2 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  border: solid white;
  padding-left: 5vh;
  justify-content: stretch;
}

.child-3 {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  border: solid white;
}

.child-4 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  border: solid white;
}

.child-5 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  border: solid white;
}

.child-6 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
  border: solid white;
  background-color: white;
  border-radius: 1.5%;
}

p {
  font-size: 20px;
  margin-top: 0;
}

.input-text {
  margin-top: 0;
  width: 20vh;
}