.App {
  text-align: center;
}

.h2 {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}

.parent {
  border: solid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 15vh 15vh 15vh 15vh 15vh 8vh;
  border-radius: .8%;
  border: solid;
  background-color:#ddf3f5;
  font-family: 'Montserrat', sans-serif;
}

.left-form {
 display: grid;
 grid-row-start: 1;
 grid-row-end: 7;
 grid-column-start: 1;
 grid-column-end: 2;
 background-color: #f76a8c;
 text-align: center;
 padding-top: 2vh;
 font-family: 'Montserrat', sans-serif;
}

.left-form-img-1 {
 display: grid;
 grid-row-start: 3;
 grid-row-end: 4;
 grid-column-start: 1;
 grid-column-end: 2;
 object-fit: cover;
 justify-content: center;
 align-content: center;
 object-fit: cover;
 width: 100%;
}


.left-form-img-2 {
  display: grid;
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-content: center;
  align-content: center;
  object-fit: cover;
  width: 100%;
}


.left-form-img-3 {
  display: grid;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-content: center;
  align-content: center;
  object-fit: cover;
  width: 100%;
}


.left-form-img-4 {
  display: grid;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-content: center;
  align-content: center;
  object-fit: cover;
  width: 100%;
}

.child-1 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  padding: 0 9vh 0 9vh;
  justify-content: center;
  align-content: center;

}

.child-2 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-content: center;
  align-content: center;
}

.child-3 {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-content: center;
  align-content: center;
  padding-top: 0;
}

.child-4 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-content: center;
  align-content: center;
}

.child-5 {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-content: center;
  align-content: center;
}

.child-6 {
  padding-top: 2.5vh;
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  justify-content: center;
  align-content: center;
  padding-bottom: 20px;
  
}

.child-7 {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  justify-content: center;
  align-content: center;
  padding-left: 5vh;
}

.child-8 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  justify-content: center;
  align-content: center;
}
.child-9 {
  padding-top: 5.5vh;
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  justify-content: center;
  align-content: center;
}

.child-10 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
  border-radius: 1.5%;
  background-color:#5A5B64;
  justify-content: center;
  align-content: center;
}

.child-11 {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
  border-radius: 1.5%;
  background-color: #5A5B64;
  justify-content: center;
  align-content: center;
}

.child-12 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 20px;
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
}

.input-text {
  margin-top: 0;
  width: 20vh;
  font-family: 'Montserrat', sans-serif;
}

.button {
  width: 20vh;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  margin: 2px;
}