.App {
  text-align: center;
}

.parent {
  border: solid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh;
  border-radius: 1.5%;
  border: solid;
  background-color:#5A5B64;
}

/* .wrapper { */
  /* background-color:#5A5B64;
  border-radius: 1.5%;
  border: solid;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width:  */
/* } */

.left-form {
 display: grid;
 grid-row-start: 1;
 grid-row-end: 7;
 grid-column-start: 1;
 grid-column-end: 2;
 background-color: #9F9D9D;
 text-align: center;
 padding-top: 2vh;
}

.pet-form {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 7;
border:solid white 5px;
}

.child-1 {

}

.child-2 {
  
}

.child-3 {
  
}

.child-4 {
  
}

.child-5 {
  
}
